body, html {
    height: 100%;
}



#initial_body {
    background-image: url("burrito.jpg");
    font-family: Papyrus, sans-serif;
    font-size: 25px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#body_order_form {
    background-color: black;
    font-family: Papyrus, sans-serif;
    font-size: 25px;
}

#order {

    text-align: center;
    color: #6effc4;
    font-size: 25px;
    font-weight: bolder;

}

.tortilla {

    background-color: lightgreen;
    color: Yellow;
    text-align: center;
    margin: 10px;

}

.rice {
    background-color: lightblue;
    text-align: center;

}

.beans {
    background-color: lightcoral;
    text-align: center;
    margin: 10px;

}

.protein {
    background-color: lightcyan;
    text-align: center;
}

.additional {
    background-color: lightsalmon;
    text-align: center;
    margin: 10px;

}

