div {
    margin: auto;
    width: 600px;
    /*background-color: lightgray;*/
}

body {
    background-color: lightgray;
    color: cccccc
    text-align: center;
    line-height: 25px;
    font-family: 'Encode Sans Condensed', sans-serif;
    letter-spacing: 1px;

}

blockquote {
    color: chocolate;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    line-height: 36px;
    letter-spacing: 1px;
}

h1 {
    font-size: xxx-large;
    font-weight: black;
    text-align: right;
    letter-spacing: 1px;

}

img {
    float: center;
    padding: 15px 25px;
    border-radius: 50px;
}

ul {

    list-style: none;
    margin: auto;
    width: 150px;
}

ul li:before {
    color: chocolate;
    content: '☞ ';
    font-size: 1.2em;
    font-weight: bold;
}

footer {
    margin-bottom: 50px;
}

