.calculator {
  margin-top: 100px;
  margin-left: 9%;
}

.output {
  margin-top: 5px;
  font-size: 1.2em;
}

.calc {
  margin-left: 10%;
}

@media screen and (max-width: 630px) {
  .container {
    margin-left: 0%;
  }
}
.button-4 {
  min-width: 20%;
  margin-right: 1%;
}

.button-2 {
  min-width: 41%;
  margin-right: 1%;
}

.button-last {
  min-width: 41%;
}

.equals {
  background-color: #222;
  min-width: 83%;
}
