/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

#map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 600px;
}

.app-img {
    max-width: 200px;
    height: auto;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

/*Fancy looking title CSS below!*/

#header-container {
    padding-top: 42px;
    padding-bottom: 42px;
}

.title {
    box-sizing: border-box;
    line-height: 1.1;
    color: white;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: -1px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.subtitle {
    box-sizing: border-box;
    color: rgb(22, 160, 133);
    font-size: 27px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.subtitle + .subtitle {
    color: white;
}

.gradient {
    background-image: linear-gradient(45deg, rgb(76, 217, 100) 0%, rgb(90, 200, 250) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
}

