{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
    <div class="container">
    <h1>TODOs To Do</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Todo Item</th>
            <th scope="col">Created</th>
            <th scope="col">Completed</th>
            <th scope="col">Done?</th>
        </tr>
        </thead>
    {% for item in items %}
        <tr>
            <td>{{todo.item}}</td>
            <td>{{todo.created_date}}</td>
            <td>{{todo.complete_date}}</td>
            <td>{{todo.completed}}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>