html, body {
    height: 100%;
}

.header {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 40vh;
    background-color: #424242;
    color: white;
    margin-top: -40px;
    padding: 10vm;
    margin-bottom: 10vh;
}

.header h1 {
    padding-top: 10vh;
}

/* materialize label focus color */
.input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #424242 !important;
}
/* materialize label underline focus color */
.input-field input:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #424242 !important;
    box-shadow: 0 1px 0 0 #424242 !important;
    color: #424242 !important;
}