{% extends 'lab04_library/base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="col s12">
        <h2 class="header">{{book.title}}</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img class="responsive-img" src="{% static '/lab04_library/img/book.png' %}">
                </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h5>Author: <em>{{book.author}}</em></h5>
                    <h5>Publication Date: <em>{{book.pub_date}}</em></h5>
                    <h5>Checked out? <em>{{checkedout}}</em></h5>
                </div>
            <div class="card-action">
            {% if request.user.is_authenticated %}
                {% if book.checked_out is True %}
                    <a href="#modal_return">Return Book</a>
                {% endif %}
                {% if book.checked_out is False %}
                    <a href="#modal_checkout">Check Out</a>
                {% endif %}
            {% endif %}
            {% if not request.user.is_authenticated %}
              <a href="#!">You must be logged in to check out this book</a>
            {% endif %}
            </div>
            </div>
        </div>
    </div>
    <a class="waves-effect waves-light btn green lighten-1" href="{% url 'lab04_library:index' %}">Back to the main page</a>
</div>
<!-- Modals  -->
<div id="modal_return" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to return this book?</h4>
        <p>There might be more to explore yet!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
</div>
<div id="modal_checkout" class="modal">
    <div class="modal-content">
        <h4>Are you sure you want to check out this book?</h4>
        <p>There be dragons in it, matey!</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
    </div>
</div>
{% endblock %}