body {
  padding-top: 3.5rem;
}

.big-bar {
    background-image: url("/bootstrapLeather/bootsmain1.jpg");
    color: lightgrey;
}

nav {
    display: flex;
    position: absolute;
    left: 0;
    padding: 5em;
    width: -moz-max-content;
    margin-bottom: .5em;

}