h1{
    font-size: x-large;
    color: #105cb6;
}

fieldset{
    border-color: purple;
    margin-bottom: 20px;
    width: 75%;
}

legend{
    font-size: large;
    color: #105cb6;
}

button{
    font-size: large;
    color: #105cb6;
    padding: 10px;
    box-shadow: 5px 5px 3px #6a6a6a;
    border-radius:  10px;
}