html {
        /*background: #472508;*/
text-align: center;
        background-color: #660a17;


}

.container {
    color: #e8dee4;
    font-family: "Arial Narrow";
    font-size: 15px;
    display: grid;
    grid-template-rows: 100px;
    /*grid-template-areas:*/
        /*"header header";*/
        /*"main form";*/
        /*"footer footer";*/
}

.header {
    /*grid-area: header;*/
    display: flex;
    width: 100%;
    background-color: aliceblue;
    position: relative;
    text-align: left;
    font-size: 8px;
    align-items: flex-end;
    padding: 30px 10px;
    z-index: 10;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
    border: 1px solid dimgrey;

}
.header h1 {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.header h2 {
    color: #372227;
    font-family: "Brush Script MT";
    text-shadow: 1px 1px 1px grey;
    font-size: 30px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 25%;
    transform:translate(-50%, -50%);
}

.header img {

    /*color:red;*/
    position: absolute;
    /*transform:translateX(-50%);*/
    height:60px;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);


}
.login {
}
.login img{
    height: 40px;
    width: 50px;
    background: none;
    border-radius: 10%;
    position: absolute;
    /*height:60px;*/
    left: 90%;
    top: 50%;
    transform:translate(-50%, -50%);
}

.login img:hover {
    box-shadow: 0px 2px 2px grey;
    background: rgba(100,255,100,0.5);
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  /*width: 100%*/
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  /*padding-top: 102px;*/
}

.top-image h1 {
    font-size: 30px;
    text-align: center;
    position: absolute;
    color: aliceblue;
    top: 30%;
    left: 50%;
    text-shadow: 1px 1px 2px black;
    transform: translate(-50%, -50%);
}
.top-image img {
    width: 100%;
    filter: grayscale(25%);
    box-shadow: 0px 0px 10px black;
        /*filter: blur(5px);*/
}

.main {
    /*grid-area: main;*/
}
h2 {
    position: absolute;
    font-size: 20px;
        text-shadow: 1px 1px 1px black;
}
h3 {
    font-size: 15px;
        text-shadow: 1px 1px 1px black;

}
ul {
  list-style-type: none;

}

li {
  display: inline-block;

}

input[type="checkbox"][id^="cb"] {
  display: none;
}

label {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
    box-shadow: 1px 2px 2px black;
}

label:before {
  background-color: aliceblue;
  color: aliceblue;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

label img {
  height: 100px;
  width: 100px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
    box-shadow: 1px 2px 2px black;
}

:checked + label {
  border-color: #ddd;
}

:checked + label:before {
  content: "✓";
  background-color: green;
  transform: scale(1);
    z-index: 5;
    border: 3px solid aliceblue;
    box-shadow: 2px 2px 2px black;

}

:checked + label img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

.main input {
    visibility: hidden;
    }




.tortilla {
    display: flex;
}
.rice {
    display: flex;
    /*background-color: #A22008;*/

}
.beans {
    display: flex;
    /*background-color: #B2984B;*/

}
.protein {
    display: flex;
    /*background-color: #472508;*/

}
.extras {
    display: flex;
    /*background-color: #D2CBB9;*/

}

.form {
    color: white;
    display: flex;
    align-items: left;
    justify-content: left;
    background-color: #660a17;
    border: 3px solid aliceblue;
    box-shadow: 2px 2px 2px black;
    text-shadow: 1px 1px 1px black;
    width: 20%;
    height: 100%;
}
form {
    width: 150px;
    display: block;
    margin: auto;
}
fieldset {
    display: flex;
    border: none;
}

button {
    width: 120px;
    position: relative;
    right: 0%;
    z-index: 5;
    background-color: mediumvioletred;
    /*box-shadow: 2px 2px 2px black;*/
}