body{
  background: #e1e3e8;
}
h1 {
  text-align: center;
  color: #000;
}
table {
  border: 1px solid #000;
  background: #fff;
}
td img {
  width: 25px;
}

.jumbotron p {
  font-size: 1.2em;
}

.jumbotron {
  margin-top: 5em;
  margin-bottom: 5em;
}
