#time {
    font-weight:bold;
    text-align: center;
}
#stop_time {
    text-align: center;
    font-weight: bold;
}
.stop_watch_container {
    width:100%;
}
.stop_watch_container>button#start_button {
    margin-left:46%;
}
.stop_watch_container>button#lap_button {
    right:40%;
    opacity: 0.5;
}
.stop_watch_container>button#lap_button:hover {
    opacity:1;
}
#stop_watch_timer {
    text-align: center;
}
ol {
    margin-left:44%;
}