<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Weather API with Vue</title>
    <meta name="description" content="Let's check out the weather in your neck of the woods.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">

    <link rel="apple-touch-icon" href="icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/owfont-regular.min.css" rel="stylesheet" type="text/css">


</head>
<body>

    <div id="app" class="float-container">
    <div class="headDiv floating center-align">
        <div id="introDiv">
        <h1>{{ greeting }}</h1>
        <h4>{{ title }}</h4>
            <p class="input-field inline">I live in
                <input placeholder="city" name="city-input" id="city-input" v-model="city" v-on:keypress.enter="getWeather"/>
                <!--and I think it's-->
            <!--<select v-model="selectedWeather" name="weather-input" id="weather-input">-->
                <!--<option v-for="option in options">{{ option.text }}</option>-->
            <!--</select>-->
        </p>
        <p>
            <button v-on:click="getWeather" class="waves-effect waves-light btn blue accent-1" id="bt-weather">Show me the weather in {{ city }}!</button>
        </p>
        </div>
        <div id="resultDiv" class="hidden">
            <h1>{{ resultMain }}</h1>
            <i id="weatherIcon" class="owf owf-5x"></i>
            <p>{{ resultDesc }}</p>
            <button v-on:click="goAgain" class="top-mar waves-effect waves-light btn blue accent-1" id="bt-again">That was fun, let's do it again!</button>
            <p>{{ celsius }}</p>
            <button v-on:click="goFYourTemp" class="waves-effect waves-light btn blue accent-1" id="bt-f">{{ murica }}</button>
        </div>
    </div>
    </div>

    <!-- scripts go here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-3.2.1.min.js"></script>
    <!-- VueJS -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="https://unpkg.com/vue-material@beta"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/templates.vue"></script>

</body>
</html>
