html {
    /*background-color: black;*/
    /*color: whitesmoke;*/
}

.wrapper {
    font-family: "Courier New";
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto auto 50px;
    /*border: 2px dashed;*/
    grid-template-areas:
            "head head"
            "slideshow slideshow"
            "left-content right-content"
            "footer footer";
}
@media (max-width: 800px) {
    .wrapper {
        display: grid;
        grid-gap: 0px;
        grid-template-areas: "head" "slideshow" "left-content" "right-content" "footer";
        grid-template-columns: 100%;
        grid-template-rows: 100%;
    }
}

.header {
    font-size: large;
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 0%;
    border-top: 8px solid;
}
.header-inner {
    background-color: rgba(255,255,255, 0.5);
    /*background-image: url("images/white_sand.png");*/
    z-index: 10;
    display: flex;
    justify-content: space-between;
    /*background-color: #FFFFFF;*/
}
.header .center {
    font-family: "Courier New";
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*position: absolute;*/
    right: 25%;
    left: 25%;
    top: 50%
    font-size: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /*vertical-align: text-top;*/
    /*align-items: center;*/
    -webkit-transition: font-size 2s; /* For Safari 3.1 to 6.0 */
    transition: all 2s;
}

.center:hover {
    font-size: 120%;
    color: gray;
}
.line {
    background-color: black;
    height: 10px;
    width: 50em;
    /*float: top;*/
    /*text-align: center;*/
    z-index: 10;
}
.menu {
    margin: 2em;
    /*display: flex;*/
    /*vertical-align: text-top;*/
    /*align-items: center;*/
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    /*background-color: rgba(255,255,255,0.5);*/
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.header .search {
    position: relative;
    margin: 2em;
    /*flex-direction: column;*/
    /*align-items: flex-end;*/
    /*text-align: center;*/
}

/*#search-form {*/
    /*position: absolute;*/
    /*top: 5%;*/
/*}*/


#search-form {
    position: absolute;
    bottom: 20%;
    right: 130%;
    z-index: 0;
}
#search-form input[type=search] {
	width: 100%;
	/*padding-left: 10px;*/
	/*color: transparent;*/
    color: rgba(1,1,1,0);
    text-shadow: rgba(0,0,0,0);
	cursor: help;
    background-color: rgba(1,1,1,0);
}
#search-form input[type=search]:hover {
	/*background-color: #fff;*/
    background-color: yellow;
}
#search-form input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#search-form input:-moz-placeholder {
	color: transparent;
}
#search-form input::-webkit-input-placeholder {
	color: transparent;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 8px solid;
}

.sticky + .gallery {
    padding-top: 102px;
}

.gallery {
    text-align: center;
    color: whitesmoke;
    background-color: black;
    grid-area: slideshow;
    position: relative;
    /*border: 2px dashed;*/
    /*background-image: url("images/dark_embroidery.png");*/
    /*border: 2px solid;*/
}

.shuttle-container {
    /*position: relative;*/
    /*text-align: right;*/
    /*display: flex;*/
    /*justify-content: space-between;*/

}
.prev {
    font-size: 900%;
    color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate( -50%, -50%);
    z-index: 10;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.prev:hover {
    color: rgba(255, 255, 255, 0.8);
}
.next:hover {
    color: rgba(255, 255, 255, 0.8);
}

.next {
    font-size: 900%;
    color: rgba(50, 50, 50, 0.8);
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate( -50%, -50%);
    z-index: 10;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}
.mySlides {
    width: 100%;
    height: 100%;
}
.typed {
    /*background-color: rgba(0,0,0,0.5);*/
    font-size: 1em;
    color: black;
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate( -50%, -50%);
    z-index: 1;

    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.typed {
  color: rgba(255,255,255, 0.8);
    background-color: rgba(0,0,0, 0.3);
  font-family: "Courier New";
  font-size: 100%;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
    z-index: 1;
}
/*q {*/
   /*-webkit-text-stroke: 1px black;*/
   /*color: white;*/
   /*text-shadow:*/
       /*3px 3px 0 #000,*/
     /*-1px -1px 0 #000,*/
      /*1px -1px 0 #000,*/
      /*-1px 1px 0 #000,*/
       /*1px 1px 0 #000;*/
/*}*/
.typed :nth-child(2){
  animation: type2 8s steps(60, end);
}

.star {
    text-align: center;
}
.checked {
    color: orange;
}
.left-text {
    color: whitesmoke;
    font-size: 100%;
    background-color: black;
    /*background-image: url("images/dark_embroidery.png");*/
    grid-area: left-content;
    /*border: 2px dashed;*/
    padding: 2em;
    margin: 1em;

}
.right-image {
    background-color: black;
    grid-area: right-content;
    /*border: 2px dashed;*/

}
footer {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    background-image: url("images/dark_embroidery.png");
    grid-area: footer;

    /*border: 2px dashed;*/

}
.fa-rotate-45 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100%; }}
