
div {
    margin-left: 10%;
    margin-right: 10%;
    background-color: lightgray;
    padding: 50px;
}

img {
    padding: 25px;
    border-radius: 50px;
    text-align: center;
    width: 86%;
    height: 86%;
    display: block;
    margin: auto;
}

body {
    background-color: gray;
    text-align: left;
    line-height: 25px;
    font-family: 'Encode Sans Condensed', sans-serif;
    letter-spacing: 1px;
}

blockquote {
    color: chocolate;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: x-large;
    line-height: 36px;
    letter-spacing: 1px;
}

h1 {
    font-size: xxx-large;
    font-weight: bolder;
    text-align: right;
    letter-spacing: 1px;
}

ul {
    list-style: none;
    text-align: center;
    margin: auto;
    width: 150px;
}

ul li:before {
    color: chocolate;
    content: '☞ ';
    font-size: 24px;
    font-weight: bold;
}

