
body {
  margin-bottom: 120px;
  background-color: #90CAF9;
  color: whitesmoke;
}

.container {
  position: relative;
}

nav {
    display: flex;
    position: absolute;
    left: 0;
    padding: 5em;
    width: -moz-max-content;
    margin-bottom: .5em;

}

section {
  /* position is static by default */
  margin-left: 200px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}

aside {
    float: right;
}


.header {
    height: 18.75em;
    width: 100%;
    padding: 0;
    background-color: #9c27b0;
    margin-bottom: .5em;
    color:#37535B;
    font-family: "Arial Narrow", "American Typewriter", "Droid Serif", "Times New Roman", sans-serif;
}

.bunnyimg1 {
    background-image: url("bunnyPortrait.jpg");
    position: absolute;
    margin: 0 0 20em 20em;
    border-radius: 60% 60% 60% 60%;
    height: 18.75em;
    width: 30em;
    background-size: 105%;
    background-position: center;

}

.bunnyimg2 {
    background-image: url("bunnyportrait2.jpg");
    position: absolute;
    margin: 0 0 20em 20em;
    border-radius: 60% 60% 60% 60%;
    height: 18.75em;
    width: 30em;
    background-size: 105%;
    background-position: center;
}

.bunnyimg3 {
    background-image: url("bunnyportrait3.jpg");
    position: absolute;
    margin: 0 0 20em 20em;
    border-radius: 60% 60% 60% 60%;
    height: 18.75em;
    width: 30em;
    background-size: 105%;
    background-position: center;
}

.bunnyimg4 {
    background-image: url("bunnyportrait4.jpg");
    position: absolute;
    margin: 0 0 20em 20em;
    border-radius: 60% 60% 60% 60%;
    height: 18.75em;
    width: 30em;
    background-size: 105%;
    background-position: center;
}

.bunnyimg5 {
    background-image: url("bunnyportrait5.jpg");
    position: absolute;
    margin: 0 0 20em 20em;
    border-radius: 60% 60% 60% 60%;
    height: 18.75em;
    width: 30em;
    background-size: 105%;
    background-position: center;
}

.bunnyimg6 {
    background-image: url("bunnyportrait6.jpg");
    position: absolute;
    margin: 0 0 40em 40em;
    border-radius: 60% 60% 60% 60%;
    height: 18.75em;
    width: 30em;
    background-size: 130%;
    background-position: center;
}

.tacobunny {
    background-image: url("buntaco.jpg");
    position: absolute;
    margin-left: 23em;
    margin-top: 10em;
    margin-bottom: 10em;
    border-radius: 90% 90% 90% 90%;
    height: 80vh;
    width: 80vh;
    background-size: 100%;
    background-position: center;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    display: block;
    -moz-box-align: center;
    text-align: center;
    vertical-align: central;
    font-size: 5vh;
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    color: #00C853;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0;
    line-height: 1em;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
    width:310px;
    float:left;

}

.sub-title {
    display: block;
    -moz-box-align: center;
    text-align: center;
    vertical-align: middle;
    font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
    color: #00C853;
    float: right;
    margin: 10em 1.2em 0 0;
    font-size: 1.5em;

}

.form, label {
    color: #e06600;
    font-style: oblique;
    font-family: "American Typewriter", "Droid Serif", "Times New Roman", sans-serif;
    font-size: medium;

}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}




