{% load static %}
{% load material_form %}
<!-- can't comment out django stuff! -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>URL Shortener</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static '/lab03_urlshortener/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static '/lab03_urlshortener/css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <div class="header z-depth-2 center-align">
        <h1>Meet Shorty, the URL <span class="typer" data-typer-targets="shtnr, shortener"></span></h1>
    </div>
    <div class="main">
        {% block content %}{% endblock %}
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="{% static '/lab03_urlshortener/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/lab03_urlshortener/js/materialize.js' %}"></script>
    <script src="{% static '/lab03_urlshortener/js/main.js' %}"></script>

</body>
</html>