{% load static %}
{% load material_form %}
<!-- can't comment out django stuff! -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDo App</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static '/lab02_todo/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static '/lab02_todo/css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <div class="container">
    <h1>TODOs TO DO</h1>
    <div class="row">
    <form action="{% url 'todo:savetodo' %}" method="post">
        {% csrf_token %}
      <div class="input-field col s11">
        <input type="text" id="add_todo" name="todo_text">
        <label for="add_todo">Add new todo</label>
      </div>
        <div class="col s1">
            <!--this has to be a button!!!-->
        <button type="submit" class="btn-floating waves-effect waves-light black"><i class="material-icons">add</i></button>
        </div>
      </form>
    </div>
    <!-- todo_item table -->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Todo Item</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Completed</th>
            <th scope="col"><i class="material-icons">check</i></th>
        </tr>
        </thead>
    {% for todo in todos %}
        <tr>
            <td>{{todo.text}}</td>
            <td>{{todo.created_date}}</td>
            <td></td>
            <td><form action="{% url 'todo:completetodo' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="todo_id" value="{{todo.id}}" />
                <button class="no-btn" type="submit"><i class="material-icons">check_box_outline_blank</i></button>
            </form>
            </td>
        </tr>
    {% endfor %}
    {% for todo in todos_completed %}
        <tr>
            <td><span style="text-decoration:line-through">{{todo.text}}</span></td>
            <td>{{todo.created_date}}</td>
            <td>{{todo.completed_date}}</td>
            <td><button class="no-btn"><i class="material-icons">check_box</i></button></td>
        </tr>
    {% endfor %}
    </table>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="{% static '/lab02_todo/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/lab02_todo/js/materialize.js' %}"></script>
    <script src="{% static '/lab02_todo/js/main.js' %}"></script>

</body>
</html>