
.header1 {

}




/* body{
/* Its, very important to set the background repeat to: no-repeat
background-repeat:no-repeat;

background-image:
/* 1) An image               url(),
/* 2) Gradient               linear-gradient(to right, RGB(0, 0, 0), RGB(255, 255, 255)),
/* 3) Color(using gradient)  linear-gradient(to right, RGB(110, 175, 233), RGB(110, 175, 233));

background-position:
/* 1) Image position         0 0,
/* 2) Gradient position      0 100px,
/* 3) Color position         0 130px;

background-size:
/* 1) Image size             640px 100px,
/* 2) Gradient size          100% 30px,
/* 3) Color size            *100% 30px;
}
*/

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	font-family: 'Press Start 2P', cursive;

	/* W3C */
	background: linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	/* Firefox */
	background: -moz-linear-gradient(top, #ff3232 0%, #fcf528 16%, #28fc28 32%, #28fcf8 50%, #272ef9 66%, #ff28fb 82%, #ff3232 100%);

	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3232), color-stop(16%,#fcf528), color-stop(32%,#28fc28), color-stop(50%,#28fcf8), color-stop(66%,#272ef9), color-stop(82%,#ff28fb), color-stop(100%,#ff3232));

	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #ff3232 0%,#fcf528 16%,#28fc28 32%,#28fcf8 50%,#272ef9 66%,#ff28fb 82%,#ff3232 100%);

	background-size: 1000%;
	-moz-background-size: 1000%;
	-webkit-background-size: 1000%;

	/* W3C */
	animation-name: fun-time-awesome;
	animation-duration: 40s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-play-state: running;

	/* Firefox: */
	-moz-animation-name: fun-time-awesome;
	-moz-animation-duration: 40s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
	-moz-animation-play-state: running;

	/* Chrome, Safari */
	-webkit-animation-name: fun-time-awesome;
	-webkit-animation-duration: 40s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

/* W3C */
@keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Firefox */
@-moz-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}

/* Chrome, Safari */
@-webkit-keyframes fun-time-awesome {
	0% {background-position: left top;}
	100% {background-position: left bottom;}
}


h1 {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 50;
	font-size: 40px;
}
h2 {
	position: absolute;
	top: 70px;
	left: 10px;
	z-index: 50;
	font-size: 20px;
}

h3 {
    position absolute;
    top: 5px;
    left: 5px;
    z-index: 50;
    font-size: 20px;
}

h2 span {
	font-size: 10px;
}
h1, h2 {
	color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
div {
	position: relative;
	z-index: 20;
}
#crushin {
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 50;
}
audio {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 50;
	opacity: 0;
}
#counter {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	z-index: 50;
}
.face-source {
	display: none;
}
#faces-container {
	height: 100%;
}


/* mobile phone */
@media screen and (max-device-width: 480px) {
	body {
		height: 120%;
	}
	h1 {
		font-size: 25px;
	}
	h2 {
		font-size: 12px;
		top: 50px;
	}
	audio {
		opacity: 1;
		bottom: 30px;
		top: 90px;
		left: 10px;
	}
	#crushin {
		display: none;
	}
	#counter {
		top: 380px;
	}
}