body {
    background-color: #1b1e21;
    color:white;
    font-family: "Helvetica Neue", "Times New Roman", sans-serif;
    padding-bottom: 50px;
}

li {
    padding-bottom: 15px;
}

button {
    background-color: #9e9e9e;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 33px;
    border-radius: 5px;

}