{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Bingo | When you lose, you win!</title>

    <link rel="stylesheet" href="{% static '/bingo/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static '/bingo/css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
          <nav>
            <div class="nav-wrapper django-green">
              <a href="{% url 'bingo:index' %}" class="brand-logo center">django_bingo</a>
            </div>
          </nav>
    </header>

    <main>
    {% block content %}{% endblock %}
    </main>

    <!--footer!-->
    <footer class="page-footer light-django-green">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">What is this?</h5>
            <p class="grey-text text-lighten-4">django_bingo was created by a bored programmer learning django and trying to collect all the errors while working on a new project. They're like Pokemon, but less valuable.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Why?</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://www.google.com/search?q=programming+error+meme&tbm=isch" target="_blank">Are you really going to ask?</a></li>
                <li><a class="grey-text text-lighten-3" href="https://github.com/bildungsroman/django_bingo" target="_blank">Obligatory Github link</a></li>
                <li><a class="grey-text text-lighten-3" href="https://www.djangoproject.com/" target="_blank">Made with Django. Obvs.</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright footer-green darken-1">
        <div class="container">
        <div class="row">
          <div class="col l6 s12">
                <span>Collect all the errors to win {'win': lose}</span>
          </div>
            <div class="col l4 offset-l2 s12">
                <span>© 2018 django_bingo</span>
            </div>
        </div>
        </div>
      </div>
    </footer>

    <!-- Compiled and minified JavaScript -->
    <script src="{% static '/bingo/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static '/bingo/js/materialize.js' %}"></script>
    <script src="{% static '/bingo/js/main.js' %}"></script>
</body>
</html>