html, body {
  height: 100%;
}

body {
  background: #82A8FF !important;
}

.headDiv {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 20%;
  padding: 20px;
  background: #1258FB;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.formDiv {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 20%;

  padding: 20px;
  background: #3371FF;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.listDiv {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  width: 60%;
  min-height: 40%;

  padding: 20px;
  background: #5B8CFF;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding: 6px;
  font-size: 18px;
  min-width: 50%;
  text-transform: uppercase;
  top: 30px;
  left: 130px;
  background: none;
  color: #fff;
}

.hidden-input {
    display: none !important;
}

td {
    color: #fff;
    font-size: 18px;
    min-width: 25%;
}

table {
    table-layout:fixed;
    width: 100%;
    margin-left: 10px;
}

th {
    height: 50px;
    width: auto;
}

.wide {
  width: 70%;
}

.strike {
    text-decoration: line-through;
}

.submit {
    width: 60px;
    border: 1px solid #fff;
    line-height: 35px;
    border-radius: 5px;
    height: 35px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
}

.submit:hover {
  background: #fff;
  color: #82A8FF;
}

/*// add button borrowed from https://codepen.io/knyttneve/pen/rGLxbP */

.plus {
  width: 100px;
  cursor: pointer;
  transition: all .3s ease 0s;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 85%;
  top: 50%;
    transform: translate(-50%, -50%);
}
.plus__line {
  width: 6px;
  height: 50px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 3px);
  top: calc(50% - 25px);
}
.plus__line--h {
  transform: rotate(90deg);
}
.plus__line--v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all .4s ease 0s;
}

.plus:hover {
    background: #82A8FF;
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.edit_bt {
  cursor:pointer;
  user-select:none;
}

.save_bt {
  cursor:pointer;
  user-select:none;
}

.delete_bt {
  cursor:pointer;
  user-select:none;
}

@media screen and (max-width: 720px) {

.headDiv {
  width: 100vw;
  padding: 20px;
  background: #1258FB;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.formDiv {
  width: 100vw;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: #3371FF;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.listDiv {
  width: 100vw;
  padding: 20px;
  background: #5B8CFF;
  color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

input[type="text"] {
  border: 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding: 6px;
  font-size: 18px;
  min-width: 50%;
  text-transform: uppercase;
  top: 30px;
  left: 130px;
  background: none;
  color: #fff;
}

.hidden-input {
    display: none !important;
}

td {
    color: #fff;
    font-size: 18px;
    min-width: 25%;
}

table {
    table-layout:fixed;
    width: 100%;
    margin-left: 10px;
}

th {
    height: 50px;
    width: auto;
}

.wide {
  width: 70%;
}

.strike {
    text-decoration: line-through;
}

.submit {
    width: 60px;
    border: 1px solid #fff;
    line-height: 35px;
    border-radius: 5px;
    height: 35px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    background: transparent;
}

.submit:hover {
  background: #fff;
  color: #82A8FF;
}

.plus {
  width: 100px;
  cursor: pointer;
  transition: all .3s ease 0s;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  position: absolute;
  left: 85%;
  top: 50%;
    transform: translate(-50%, -50%);
}
.plus__line {
  width: 6px;
  height: 50px;
  background: #000;
  border-radius: 10px;
  position: absolute;
  left: calc(50% - 3px);
  top: calc(50% - 25px);
}
.plus__line--h {
  transform: rotate(90deg);
}
.plus__line--v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  transition: all .4s ease 0s;
}

.plus:hover {
    background: #82A8FF;
}

.centered {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.edit_bt {
  cursor:pointer;
  user-select:none;
}

.save_bt {
  cursor:pointer;
  user-select:none;
}

.delete_bt {
  cursor:pointer;
  user-select:none;
}

}
