@import url('https://fonts.googleapis.com/css?family=BioRhyme:300,400');

html, body {
    height: 100%;
}

body {
    background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
    overflow: hidden;
    font-family: 'BioRhyme', serif;
}

.headDiv {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 40%;
    padding: 20px;
    background: white;
    opacity: .9;
    color: #222;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 500;
}

.btn {
    background-color: #8bb5e0 !important;
    margin-top: -10px;
}

.btn:hover {
    background-color: #8bb5e0 !important;
    border-color: #8bb5e0 !important;
}

.headDiv h1 {
    font-size: 4vw;
    font-family: 'BioRhyme', serif;
}

#container{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 60%;
    min-height: 40%;
    padding: 20px;
    background: white;
    opacity: .9;
    color: #222;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.hidden {
    display: none !important;
}

input {
    border-color: #8bb5e0 !important;
    text-transform: uppercase;
}


/* *************************************************************** */
/* pure CSS waves from: https://codepen.io/kcak11/pen/BYewdo       */
/* *************************************************************** */

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://cdn.kcak11.com/codepen_assets/wave_animation/wave.svg) repeat-x;
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
@keyframes swell {
  0%,
	100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}
.endWave{
	display:none;
}
