body{
    text-align: center;
    background-color: darkred;
}

ul{
    list-style: inside;
    list-style-image: url("gun.jpg");
}

p{
    padding: 10px 200px;
}

a {
    color: black;
}
a:visited {
    color: white;
}
a:hover {
    color: chartreuse;
}

img.image2 {
    width:540px; /* you can use % */
    height: auto;
    float: right;
}

.image{
    border-radius: 20px;
}


